<div class="topbar">

  <div class="right">
    <mat-form-field appearance="outline" class="lang-select">
      <mat-select
        [value]="translate.currentLang"
        (selectionChange)="changeLanguage($event.value)">
        <mat-option *ngFor="let lang of languages" [value]="lang.code">
          {{ lang.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="warn" (click)="logout()">
      {{ 'LOGOUT' | translate }}
    </button>
  </div>
</div>
