:root {
  --foodflow-bg: #f9fcfa;
  --foodflow-text: #1b1b1b;
}

html, body {
  height: 100%;
  background-color: var(--foodflow-bg);
  color: var(--foodflow-text);
  font-family: 'Inter', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button, .mat-mdc-button, .mat-mdc-raised-button {
  text-transform: none;
  font-weight: 500;
}
